{% extends 'shared/layout.html' %}

{% block maincontent %}
<head>
    <link rel="stylesheet" href="static/piano/css/piano.css">
</head>
<div class="pianoPoem">
    <br>
    <br>
    <h3>"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</h3>
    <br>
    <hr>
</div>

<div class="pianoBase">
    <br>The Great Old One
    <div class="hover">
        <div class="whiteKeys">
            <div><span class="hover-text">A</span></div>
            <div><span class="hover-text">S</span></div>
            <div><span class="hover-text">D</span></div>
            <div><span class="hover-text">F</span></div>
            <div><span class="hover-text">G</span></div>
            <div><span class="hover-text">H</span></div>
            <div><span class="hover-text">J</span></div>
            <div><span class="hover-text">K</span></div>
            <div><span class="hover-text">L</span></div>
            <div><span class="hover-text">;</span></div>
        </div>
        <div class="blackKeys">
            <div><span class="hover-text">W</span></div>
            <div><span class="hover-text">E</span></div>
        </div>
        <div class="blackKeys2">
            <div><span class="hover-text">T</span></div>
            <div><span class="hover-text">Y</span></div>
            <div><span class="hover-text">U</span></div>
        </div>
        <div class="blackKeys3">
            <div><span class="hover-text">O</span></div>
            <div><span class="hover-text">P</span></div>
        </div>
    </div>
    <img src="static/piano/images/texture.jpeg" alt="Great One Has Been Awoken" class="greatOne" loading="lazy">
    <div class="greatOneText">I have awoken.</div>
</div>
{% endblock %}